<section data-ng-controller="HomeController">
	<div class="jumbotron">
		<div class="row text-left">
				<img alt="MEAN.JS" class="img-responsive" src="modules/core/img/brand/ofslogo.png" />
		</div>
		<br>
		<div class="row">
	    	 <div class="col-md-12 text-left">
				<p class="lead">
					WELCOME . This is the dev challenge solution by Ganeshram Ramamurthy using Angular,Node.js and Express.
                 </br></br>
					Summary of tasks completed:
				<ul>
					<li>
					Search for an Artist by Name - DONE
					</li><li>
					Display the artists that match the above criteria  - DONE
				</li><li>
					Allow the user to select an artist to lookup the Albums by that artist - DONE
				</li><li>	
					Allow the user to select an Album to lookup the Tracks on that album - DONE
				</li><li>	
					Allow the user to select a Favorite Artist, Album or Track in a Favorite List - DONE (saved per session only)
				</li><li>
					Each object (Artist, Albums, Track, etc…) must reside in its own separate view - DONE
				</li><li>
				    Anyone should be able to navigate to any individual object using a nice, restful API (for example, to view albums for an artist I should be able to navigate using the following format for a URL:  http://localhost/artist/:artistId/albums) - DONE
				</li><li>
				    Infinite scrolling - DONE
				 </li><li>
				     Uses bootstrap,npm,bower,jshint,csslint and grunt
				 </li> <li>
				     Allows you to preview tracks
				  </li>     


				</p>
 	  	 	</div>
		</div>
		<div class="row">
				<div class="col-md-12 text-left">
					<a class="btn btn-primary btn-lg" href="/#!/artists">begin by searching artists</a>
				</div>
		</div>
	</div>
	
</section>
