<section data-ng-controller="AlbumsController" data-ng-init="loadTracksByAlbum()">
	<div class="page-header">
        <h1>Tracks for album: {{albumName}}</h1>
    </div>
    <div class ='row'>
    <div class="col-md-12 text-centre">
      <div class="list-group">
            <small class="list-group-item-text"> click track title to preview </small>
                    <a data-ng-repeat="track in albumTracks.items"   class="list-group-item" target="_blank" data-ng-href="{{track.preview_url}}">
                        <h4  class="list-group-item-heading" data-ng-bind="track.name" ></h4>
        			</a>
                        
        </div>  
                    
    </section>