<section data-ng-controller="TitlesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Titles</h1>
    </div>
    <div class ='row'>
    <div class="col-md-12 text-centre">
       
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="titleName">Search by Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="titleName" ng-change="incrementalSearch()" id="titleName" class="form-control" placeholder="title name" >
                    </div>
                </div>
            
            </fieldset>
        
    </div>
    </div>    
    <div class="list-group">
        <a data-ng-repeat="title in titles" data-ng-href="#!/titles/{{title._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="title.created | date:'medium'"></span>
				by
				<span data-ng-bind="title.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="title.name"></h4>
        </a>
    </div>
    <div>
    	<a class="btn btn-primary btn-lg" href="/#!/titles/create">Add New</a>
    </div>
</section>